body {
  background-color: lightslategray
}

input#username, input#usernumber {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: monospace;
  color: darkorchid;
  text-shadow: 1px 1px 3px black;
  margin-bottom: 2%;
}

#output {
  display: none
}

